/* .container {
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
} */

.container {
    height: 100vh;
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-template-rows: 1fr 1fr;
}

.item {
    font-size: 5rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cowboy {
    background-color: #00d9ff;
    grid-column-start: span 2;
    grid-column-end: auto;
}

.astronaut {
    background-color: #03989e;
    order: 1;
    grid-column-start: span 2;
}

.book {
    background-color: #e58331;
    grid-row-start: span 2;
    grid-row-end: auto;
}

/* 
.white {
    width: 100px;
    height: 100px;
    background-color: #f0d9b5;
}

.black {
    width: 100px;
    height: 100px;
    background-color: #b58863;
} */

/* .grid-container {
    display: grid;
    /* grid-template: rows / columns; */
    /* grid-template: 100px 200px / 400px 800px; */
    /* auto columns fits 100% of remaining available space */
    /* auto rows fits to available content */
    /* grid-template-columns: 100px auto;
    grid-template-rows: 200px auto; */
/* } */


