/* There are three types of display values */

/* Inline, block (default for most elements), inline-block, none */

/* Inline - you cannot set the width and height */

h2 {
    display: inline;
}

/* Inline-block does allow setting of height and width */

h3 {
    display: inline-block;
    height: 100px;
    width: 100px;
}

/* none - makes the element disappear */

/* float - allow us to wrap text around an element */

img {
    height: 400px;
    width: 500px;
    float: left;
}

/* clear removes the responsibility around things that are floating */

footer {
    clear: left;
}

/* Making a website responsive */
/* There are four ways of doing this */
/* Media Queries, CSS Grid, CSS Flexbox, External Frameworks (Bootstrap) */

/* Media query */

/* @media (max-width: 600px) { */
/* CSS for screens below or equal to 600px wide }*/

.media {
    background-color: blue;
    height: 200px;
    width: 200px;
}

/* min-width targets larger screens and max-width targets smaller screens */

@media(min-width:600px) and (max-width: 900px) {
    .media {
        height: 100px;
        width: 100px;
    }
}

/* Mobile devices: 319px and 480px */
/* Ipads and Tablets: 481px and 1200px */
/* Laptops: 1201px and 1600px  */
/* Desktops: 1601px and more */


