/* There are three types of display values */

/* Inline, block (default for most elements), inline-block, none */

/* Inline - you cannot set the width and height */

h2 {
    display: inline;
}

/* Inline-block does allow setting of height and width */

h3 {
    display: inline-block;
    height: 100px;
    width: 100px;
}

/* none - makes the element disappear */

/* float - allow us to wrap text around an element */

img {
    height: 400px;
    width: 500px;
    float: left;
}

/* clear removes the responsibility around things that are floating */

footer {
    clear: left;
}

